$palette-content-background: #121315;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-inverse-on-surface: #2f3032;
$palette-content-inverse-primary: #496173;
$palette-content-inverse-surface: #e3e2e3;
$palette-content-on-background: #e3e2e3;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-primary: #193343;
$palette-content-on-primary-container: #b7d1e5;
$palette-content-on-primary-fixed: #021e2d;
$palette-content-on-primary-fixed-variant: #314a5a;
$palette-content-on-secondary: #283238;
$palette-content-on-secondary-container: #dce5ee;
$palette-content-on-secondary-fixed: #141d23;
$palette-content-on-secondary-fixed-variant: #3f484f;
$palette-content-on-surface: #e3e2e3;
$palette-content-on-surface-variant: #c3c7cc;
$palette-content-on-tertiary: #3b2a43;
$palette-content-on-tertiary-container: #dec6e6;
$palette-content-on-tertiary-fixed: #25152d;
$palette-content-on-tertiary-fixed-variant: #52405a;
$palette-content-outline: #8c9196;
$palette-content-outline-variant: #42474c;
$palette-content-primary: #b0cade;
$palette-content-primary-container: #253e4e;
$palette-content-primary-fixed: #cce6fa;
$palette-content-primary-fixed-dim: #b0cade;
$palette-content-scrim: #000000;
$palette-content-secondary: #bec8d0;
$palette-content-secondary-container: #414a51;
$palette-content-secondary-fixed: #dae4ed;
$palette-content-secondary-fixed-dim: #bec8d0;
$palette-content-shadow: #000000;
$palette-content-source-color: #253e4e;
$palette-content-surface: #121315;
$palette-content-surface-bright: #38393a;
$palette-content-surface-container: #1f2021;
$palette-content-surface-container-high: #292a2b;
$palette-content-surface-container-highest: #343536;
$palette-content-surface-container-low: #1a1c1d;
$palette-content-surface-container-lowest: #0d0e0f;
$palette-content-surface-dim: #121315;
$palette-content-surface-tint: #b0cade;
$palette-content-surface-variant: #42474c;
$palette-content-tertiary: #d6bfde;
$palette-content-tertiary-container: #46354e;
$palette-content-tertiary-fixed: #f3dafb;
$palette-content-tertiary-fixed-dim: #d6bfde;
$palette-expressive-background: #0f141a;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-inverse-on-surface: #2c3137;
$palette-expressive-inverse-primary: #5a6414;
$palette-expressive-inverse-surface: #dfe2eb;
$palette-expressive-on-background: #dfe2eb;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-primary: #2d3400;
$palette-expressive-on-primary-container: #deea8c;
$palette-expressive-on-primary-fixed: #191e00;
$palette-expressive-on-primary-fixed-variant: #434b00;
$palette-expressive-on-secondary: #412742;
$palette-expressive-on-secondary-container: #fdd7fa;
$palette-expressive-on-secondary-fixed: #2a132c;
$palette-expressive-on-secondary-fixed-variant: #593d5a;
$palette-expressive-on-surface: #dfe2eb;
$palette-expressive-on-surface-variant: #bfc7d5;
$palette-expressive-on-tertiary: #033256;
$palette-expressive-on-tertiary-container: #d1e4ff;
$palette-expressive-on-tertiary-fixed: #001d36;
$palette-expressive-on-tertiary-fixed-variant: #23496e;
$palette-expressive-outline: #89919e;
$palette-expressive-outline-variant: #3f4753;
$palette-expressive-primary: #c2ce73;
$palette-expressive-primary-container: #434b00;
$palette-expressive-primary-fixed: #deea8c;
$palette-expressive-primary-fixed-dim: #c2ce73;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #dfbbde;
$palette-expressive-secondary-container: #593d5a;
$palette-expressive-secondary-fixed: #fdd7fa;
$palette-expressive-secondary-fixed-dim: #dfbbde;
$palette-expressive-shadow: #000000;
$palette-expressive-source-color: #253e4e;
$palette-expressive-surface: #0f141a;
$palette-expressive-surface-bright: #353940;
$palette-expressive-surface-container: #1b2026;
$palette-expressive-surface-container-high: #262a31;
$palette-expressive-surface-container-highest: #30353c;
$palette-expressive-surface-container-low: #171c22;
$palette-expressive-surface-container-lowest: #0a0f14;
$palette-expressive-surface-dim: #0f141a;
$palette-expressive-surface-tint: #c2ce73;
$palette-expressive-surface-variant: #3f4753;
$palette-expressive-tertiary: #a6c9f5;
$palette-expressive-tertiary-container: #23496e;
$palette-expressive-tertiary-fixed: #d1e4ff;
$palette-expressive-tertiary-fixed-dim: #a6c9f5;
$palette-fidelity-background: #121315;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-inverse-on-surface: #2f3032;
$palette-fidelity-inverse-primary: #496173;
$palette-fidelity-inverse-surface: #e3e2e3;
$palette-fidelity-on-background: #e3e2e3;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-primary: #193343;
$palette-fidelity-on-primary-container: #b7d1e5;
$palette-fidelity-on-primary-fixed: #021e2d;
$palette-fidelity-on-primary-fixed-variant: #314a5a;
$palette-fidelity-on-secondary: #283238;
$palette-fidelity-on-secondary-container: #dce5ee;
$palette-fidelity-on-secondary-fixed: #141d23;
$palette-fidelity-on-secondary-fixed-variant: #3f484f;
$palette-fidelity-on-surface: #e3e2e3;
$palette-fidelity-on-surface-variant: #c3c7cc;
$palette-fidelity-on-tertiary: #432b10;
$palette-fidelity-on-tertiary-container: #eec7a0;
$palette-fidelity-on-tertiary-fixed: #2b1701;
$palette-fidelity-on-tertiary-fixed-variant: #5c4124;
$palette-fidelity-outline: #8c9196;
$palette-fidelity-outline-variant: #42474c;
$palette-fidelity-primary: #b0cade;
$palette-fidelity-primary-container: #253e4e;
$palette-fidelity-primary-fixed: #cce6fa;
$palette-fidelity-primary-fixed-dim: #b0cade;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #bec8d0;
$palette-fidelity-secondary-container: #414a51;
$palette-fidelity-secondary-fixed: #dae4ed;
$palette-fidelity-secondary-fixed-dim: #bec8d0;
$palette-fidelity-shadow: #000000;
$palette-fidelity-source-color: #253e4e;
$palette-fidelity-surface: #121315;
$palette-fidelity-surface-bright: #38393a;
$palette-fidelity-surface-container: #1f2021;
$palette-fidelity-surface-container-high: #292a2b;
$palette-fidelity-surface-container-highest: #343536;
$palette-fidelity-surface-container-low: #1a1c1d;
$palette-fidelity-surface-container-lowest: #0d0e0f;
$palette-fidelity-surface-dim: #121315;
$palette-fidelity-surface-tint: #b0cade;
$palette-fidelity-surface-variant: #42474c;
$palette-fidelity-tertiary: #e6c09a;
$palette-fidelity-tertiary-container: #4f361a;
$palette-fidelity-tertiary-fixed: #ffdcbc;
$palette-fidelity-tertiary-fixed-dim: #e6c09a;
$palette-fruit-salad-background: #0b141a;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-inverse-on-surface: #293238;
$palette-fruit-salad-inverse-primary: #006a63;
$palette-fruit-salad-inverse-surface: #dae4ec;
$palette-fruit-salad-on-background: #dae4ec;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-primary: #003733;
$palette-fruit-salad-on-primary-container: #72f7e9;
$palette-fruit-salad-on-primary-fixed: #00201d;
$palette-fruit-salad-on-primary-fixed-variant: #00504a;
$palette-fruit-salad-on-secondary: #003733;
$palette-fruit-salad-on-secondary-container: #9df2e7;
$palette-fruit-salad-on-secondary-fixed: #00201d;
$palette-fruit-salad-on-secondary-fixed-variant: #00504a;
$palette-fruit-salad-on-surface: #dae4ec;
$palette-fruit-salad-on-surface-variant: #b6c9d8;
$palette-fruit-salad-on-tertiary: #00344c;
$palette-fruit-salad-on-tertiary-container: #c7e7ff;
$palette-fruit-salad-on-tertiary-fixed: #001e2e;
$palette-fruit-salad-on-tertiary-fixed-variant: #004c6c;
$palette-fruit-salad-outline: #8193a1;
$palette-fruit-salad-outline-variant: #374955;
$palette-fruit-salad-primary: #51dbcd;
$palette-fruit-salad-primary-container: #00504a;
$palette-fruit-salad-primary-fixed: #72f7e9;
$palette-fruit-salad-primary-fixed-dim: #51dbcd;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #81d5cb;
$palette-fruit-salad-secondary-container: #00504a;
$palette-fruit-salad-secondary-fixed: #9df2e7;
$palette-fruit-salad-secondary-fixed-dim: #81d5cb;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-source-color: #253e4e;
$palette-fruit-salad-surface: #0b141a;
$palette-fruit-salad-surface-bright: #313a41;
$palette-fruit-salad-surface-container: #182127;
$palette-fruit-salad-surface-container-high: #222b32;
$palette-fruit-salad-surface-container-highest: #2d363d;
$palette-fruit-salad-surface-container-low: #141d23;
$palette-fruit-salad-surface-container-lowest: #060f15;
$palette-fruit-salad-surface-dim: #0b141a;
$palette-fruit-salad-surface-tint: #51dbcd;
$palette-fruit-salad-surface-variant: #374955;
$palette-fruit-salad-tertiary: #92cef5;
$palette-fruit-salad-tertiary-container: #004c6c;
$palette-fruit-salad-tertiary-fixed: #c7e7ff;
$palette-fruit-salad-tertiary-fixed-dim: #92cef5;
$palette-monochrome-background: #131313;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-source-color: #253e4e;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #131314;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-inverse-on-surface: #303031;
$palette-neutral-inverse-primary: #546069;
$palette-neutral-inverse-surface: #e4e2e3;
$palette-neutral-on-background: #e4e2e3;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-primary: #26323a;
$palette-neutral-on-primary-container: #d8e4ef;
$palette-neutral-on-primary-fixed: #111d25;
$palette-neutral-on-primary-fixed-variant: #3c4851;
$palette-neutral-on-secondary: #2b3136;
$palette-neutral-on-secondary-container: #dde3ea;
$palette-neutral-on-secondary-fixed: #161c21;
$palette-neutral-on-secondary-fixed-variant: #41484d;
$palette-neutral-on-surface: #e4e2e3;
$palette-neutral-on-surface-variant: #c7c6c7;
$palette-neutral-on-tertiary: #21323e;
$palette-neutral-on-tertiary-container: #d2e5f5;
$palette-neutral-on-tertiary-fixed: #0b1d29;
$palette-neutral-on-tertiary-fixed-variant: #374955;
$palette-neutral-outline: #919091;
$palette-neutral-outline-variant: #464748;
$palette-neutral-primary: #bcc8d3;
$palette-neutral-primary-container: #3c4851;
$palette-neutral-primary-fixed: #d8e4ef;
$palette-neutral-primary-fixed-dim: #bcc8d3;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #c1c7ce;
$palette-neutral-secondary-container: #41484d;
$palette-neutral-secondary-fixed: #dde3ea;
$palette-neutral-secondary-fixed-dim: #c1c7ce;
$palette-neutral-shadow: #000000;
$palette-neutral-source-color: #253e4e;
$palette-neutral-surface: #131314;
$palette-neutral-surface-bright: #39393a;
$palette-neutral-surface-container: #1f2020;
$palette-neutral-surface-container-high: #292a2b;
$palette-neutral-surface-container-highest: #343536;
$palette-neutral-surface-container-low: #1b1c1c;
$palette-neutral-surface-container-lowest: #0d0e0f;
$palette-neutral-surface-dim: #131314;
$palette-neutral-surface-tint: #bcc8d3;
$palette-neutral-surface-variant: #464748;
$palette-neutral-tertiary: #b6c9d8;
$palette-neutral-tertiary-container: #374955;
$palette-neutral-tertiary-fixed: #d2e5f5;
$palette-neutral-tertiary-fixed-dim: #b6c9d8;
$palette-rainbow-background: #131313;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #00658e;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-primary: #00344c;
$palette-rainbow-on-primary-container: #c7e7ff;
$palette-rainbow-on-primary-fixed: #001e2e;
$palette-rainbow-on-primary-fixed-variant: #004c6c;
$palette-rainbow-on-secondary: #21323e;
$palette-rainbow-on-secondary-container: #d2e5f5;
$palette-rainbow-on-secondary-fixed: #0b1d29;
$palette-rainbow-on-secondary-fixed-variant: #374955;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #342b4b;
$palette-rainbow-on-tertiary-container: #e8ddff;
$palette-rainbow-on-tertiary-fixed: #1e1635;
$palette-rainbow-on-tertiary-fixed-variant: #4a4263;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #83cfff;
$palette-rainbow-primary-container: #004c6c;
$palette-rainbow-primary-fixed: #c7e7ff;
$palette-rainbow-primary-fixed-dim: #83cfff;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #b6c9d8;
$palette-rainbow-secondary-container: #374955;
$palette-rainbow-secondary-fixed: #d2e5f5;
$palette-rainbow-secondary-fixed-dim: #b6c9d8;
$palette-rainbow-shadow: #000000;
$palette-rainbow-source-color: #253e4e;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #83cfff;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #ccc1e9;
$palette-rainbow-tertiary-container: #4a4263;
$palette-rainbow-tertiary-fixed: #e8ddff;
$palette-rainbow-tertiary-fixed-dim: #ccc1e9;
$palette-tonal-spot-background: #101417;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-inverse-on-surface: #2d3135;
$palette-tonal-spot-inverse-primary: #216487;
$palette-tonal-spot-inverse-surface: #dfe3e7;
$palette-tonal-spot-on-background: #dfe3e7;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-primary: #00344c;
$palette-tonal-spot-on-primary-container: #c7e7ff;
$palette-tonal-spot-on-primary-fixed: #001e2e;
$palette-tonal-spot-on-primary-fixed-variant: #004c6c;
$palette-tonal-spot-on-secondary: #21323e;
$palette-tonal-spot-on-secondary-container: #d2e5f5;
$palette-tonal-spot-on-secondary-fixed: #0b1d29;
$palette-tonal-spot-on-secondary-fixed-variant: #374955;
$palette-tonal-spot-on-surface: #dfe3e7;
$palette-tonal-spot-on-surface-variant: #c1c7ce;
$palette-tonal-spot-on-tertiary: #342b4b;
$palette-tonal-spot-on-tertiary-container: #e8ddff;
$palette-tonal-spot-on-tertiary-fixed: #1e1635;
$palette-tonal-spot-on-tertiary-fixed-variant: #4a4263;
$palette-tonal-spot-outline: #8b9198;
$palette-tonal-spot-outline-variant: #41484d;
$palette-tonal-spot-primary: #92cef5;
$palette-tonal-spot-primary-container: #004c6c;
$palette-tonal-spot-primary-fixed: #c7e7ff;
$palette-tonal-spot-primary-fixed-dim: #92cef5;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #b6c9d8;
$palette-tonal-spot-secondary-container: #374955;
$palette-tonal-spot-secondary-fixed: #d2e5f5;
$palette-tonal-spot-secondary-fixed-dim: #b6c9d8;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-source-color: #253e4e;
$palette-tonal-spot-surface: #101417;
$palette-tonal-spot-surface-bright: #353a3d;
$palette-tonal-spot-surface-container: #1c2024;
$palette-tonal-spot-surface-container-high: #262a2e;
$palette-tonal-spot-surface-container-highest: #313539;
$palette-tonal-spot-surface-container-low: #181c20;
$palette-tonal-spot-surface-container-lowest: #0a0f12;
$palette-tonal-spot-surface-dim: #101417;
$palette-tonal-spot-surface-tint: #92cef5;
$palette-tonal-spot-surface-variant: #41484d;
$palette-tonal-spot-tertiary: #ccc1e9;
$palette-tonal-spot-tertiary-container: #4a4263;
$palette-tonal-spot-tertiary-fixed: #e8ddff;
$palette-tonal-spot-tertiary-fixed-dim: #ccc1e9;
$palette-vibrant-background: #0b141a;
$palette-vibrant-error: #ffb4ab;
$palette-vibrant-error-container: #93000a;
$palette-vibrant-inverse-on-surface: #293238;
$palette-vibrant-inverse-primary: #00658e;
$palette-vibrant-inverse-surface: #dae4ec;
$palette-vibrant-on-background: #dae4ec;
$palette-vibrant-on-error: #690005;
$palette-vibrant-on-error-container: #ffdad6;
$palette-vibrant-on-primary: #00344c;
$palette-vibrant-on-primary-container: #c7e7ff;
$palette-vibrant-on-primary-fixed: #001e2e;
$palette-vibrant-on-primary-fixed-variant: #004c6c;
$palette-vibrant-on-secondary: #1c314b;
$palette-vibrant-on-secondary-container: #d3e4ff;
$palette-vibrant-on-secondary-fixed: #041c35;
$palette-vibrant-on-secondary-fixed-variant: #334863;
$palette-vibrant-on-surface: #dae4ec;
$palette-vibrant-on-surface-variant: #bec8d0;
$palette-vibrant-on-tertiary: #202e5a;
$palette-vibrant-on-tertiary-container: #dbe1ff;
$palette-vibrant-on-tertiary-fixed: #071844;
$palette-vibrant-on-tertiary-fixed-variant: #374572;
$palette-vibrant-outline: #89929a;
$palette-vibrant-outline-variant: #3f484f;
$palette-vibrant-primary: #83cfff;
$palette-vibrant-primary-container: #004c6c;
$palette-vibrant-primary-fixed: #c7e7ff;
$palette-vibrant-primary-fixed-dim: #83cfff;
$palette-vibrant-scrim: #000000;
$palette-vibrant-secondary: #b2c8e8;
$palette-vibrant-secondary-container: #334863;
$palette-vibrant-secondary-fixed: #d3e4ff;
$palette-vibrant-secondary-fixed-dim: #b2c8e8;
$palette-vibrant-shadow: #000000;
$palette-vibrant-source-color: #253e4e;
$palette-vibrant-surface: #0b141a;
$palette-vibrant-surface-bright: #313a41;
$palette-vibrant-surface-container: #182127;
$palette-vibrant-surface-container-high: #222b32;
$palette-vibrant-surface-container-highest: #2d363d;
$palette-vibrant-surface-container-low: #141d23;
$palette-vibrant-surface-container-lowest: #060f15;
$palette-vibrant-surface-dim: #0b141a;
$palette-vibrant-surface-tint: #83cfff;
$palette-vibrant-surface-variant: #3f484f;
$palette-vibrant-tertiary: #b7c5fa;
$palette-vibrant-tertiary-container: #374572;
$palette-vibrant-tertiary-fixed: #dbe1ff;
$palette-vibrant-tertiary-fixed-dim: #b7c5fa;
$theme-light-background: #f6fafe;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #eef1f6;
$theme-light-inverse-primary: #92cef5;
$theme-light-inverse-surface: #2d3135;
$theme-light-on-background: #181c20;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #001e2e;
$theme-light-on-primary-fixed: #001e2e;
$theme-light-on-primary-fixed-variant: #004c6c;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #0b1d29;
$theme-light-on-secondary-fixed: #0b1d29;
$theme-light-on-secondary-fixed-variant: #374955;
$theme-light-on-surface: #181c20;
$theme-light-on-surface-variant: #41484d;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #1e1635;
$theme-light-on-tertiary-fixed: #1e1635;
$theme-light-on-tertiary-fixed-variant: #4a4263;
$theme-light-outline: #71787e;
$theme-light-outline-variant: #c1c7ce;
$theme-light-primary: #216487;
$theme-light-primary-container: #c7e7ff;
$theme-light-primary-fixed: #c7e7ff;
$theme-light-primary-fixed-dim: #92cef5;
$theme-light-scrim: #000000;
$theme-light-secondary: #4f616e;
$theme-light-secondary-container: #d2e5f5;
$theme-light-secondary-fixed: #d2e5f5;
$theme-light-secondary-fixed-dim: #b6c9d8;
$theme-light-shadow: #000000;
$theme-light-source-color: #253e4e;
$theme-light-surface: #f6fafe;
$theme-light-surface-bright: #f6fafe;
$theme-light-surface-container: #ebeef3;
$theme-light-surface-container-high: #e5e8ed;
$theme-light-surface-container-highest: #dfe3e7;
$theme-light-surface-container-low: #f0f4f9;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #d7dadf;
$theme-light-surface-tint: #216487;
$theme-light-surface-variant: #dde3ea;
$theme-light-tertiary: #62597c;
$theme-light-tertiary-container: #e8ddff;
$theme-light-tertiary-fixed: #e8ddff;
$theme-light-tertiary-fixed-dim: #ccc1e9;
$theme-dark-background: #101417;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #2d3135;
$theme-dark-inverse-primary: #216487;
$theme-dark-inverse-surface: #dfe3e7;
$theme-dark-on-background: #dfe3e7;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #00344c;
$theme-dark-on-primary-container: #c7e7ff;
$theme-dark-on-primary-fixed: #001e2e;
$theme-dark-on-primary-fixed-variant: #004c6c;
$theme-dark-on-secondary: #21323e;
$theme-dark-on-secondary-container: #d2e5f5;
$theme-dark-on-secondary-fixed: #0b1d29;
$theme-dark-on-secondary-fixed-variant: #374955;
$theme-dark-on-surface: #dfe3e7;
$theme-dark-on-surface-variant: #c1c7ce;
$theme-dark-on-tertiary: #342b4b;
$theme-dark-on-tertiary-container: #e8ddff;
$theme-dark-on-tertiary-fixed: #1e1635;
$theme-dark-on-tertiary-fixed-variant: #4a4263;
$theme-dark-outline: #8b9198;
$theme-dark-outline-variant: #41484d;
$theme-dark-primary: #92cef5;
$theme-dark-primary-container: #004c6c;
$theme-dark-primary-fixed: #c7e7ff;
$theme-dark-primary-fixed-dim: #92cef5;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #b6c9d8;
$theme-dark-secondary-container: #374955;
$theme-dark-secondary-fixed: #d2e5f5;
$theme-dark-secondary-fixed-dim: #b6c9d8;
$theme-dark-shadow: #000000;
$theme-dark-source-color: #253e4e;
$theme-dark-surface: #101417;
$theme-dark-surface-bright: #353a3d;
$theme-dark-surface-container: #1c2024;
$theme-dark-surface-container-high: #262a2e;
$theme-dark-surface-container-highest: #313539;
$theme-dark-surface-container-low: #181c20;
$theme-dark-surface-container-lowest: #0a0f12;
$theme-dark-surface-dim: #101417;
$theme-dark-surface-tint: #92cef5;
$theme-dark-surface-variant: #41484d;
$theme-dark-tertiary: #ccc1e9;
$theme-dark-tertiary-container: #4a4263;
$theme-dark-tertiary-fixed: #e8ddff;
$theme-dark-tertiary-fixed-dim: #ccc1e9;
