
    $background: #191209;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #382f24;

    $inverse_primary: #685395;

    $inverse_surface: #efe0cf;

    $on_background: #efe0cf;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #382463;

    $on_primary_container: #eaddff;

    $on_primary_fixed: #230b4d;

    $on_primary_fixed_variant: #4f3b7b;

    $on_secondary: #353107;

    $on_secondary_container: #ebe4aa;

    $on_secondary_fixed: #1f1c00;

    $on_secondary_fixed_variant: #4c481c;

    $on_surface: #efe0cf;

    $on_surface_variant: #d7c3ab;

    $on_tertiary: #422d00;

    $on_tertiary_container: #ffdea8;

    $on_tertiary_fixed: #271900;

    $on_tertiary_fixed_variant: #5e4202;

    $outline: #a08e77;

    $outline_variant: #524532;

    $primary: #d2bcff;

    $primary_container: #4f3b7b;

    $primary_fixed: #eaddff;

    $primary_fixed_dim: #d2bcff;

    $scrim: #000000;

    $secondary: #cfc890;

    $secondary_container: #4c481c;

    $secondary_fixed: #ebe4aa;

    $secondary_fixed_dim: #cfc890;

    $shadow: #000000;

    $source_color: #3d332b;

    $surface: #191209;

    $surface_bright: #41382c;

    $surface_container: #261e14;

    $surface_container_high: #31291e;

    $surface_container_highest: #3c3328;

    $surface_container_low: #221a10;

    $surface_container_lowest: #130d05;

    $surface_dim: #191209;

    $surface_tint: #d2bcff;

    $surface_variant: #524532;

    $tertiary: #eac077;

    $tertiary_container: #5e4202;

    $tertiary_fixed: #ffdea8;

    $tertiary_fixed_dim: #eac077;

